@import "./tabs";
@import "./activity";
@import "./editor";
@import "./drag-handles";
@import "./console";

@import "./editor-btns";
@import "./console-btns";

.editor-section {
  @apply grid gap-3;
  @apply relative w-full;
  @apply h-full;
  max-height: calc(100% - 50px);

  grid-template:
    "tabs activity"
    "core core"
    "handle handle"; 

  @screen lt-sm {
    grid-template:
      "tabs"
      "core"
      "handle"
      "activity";
  }

  .core {
    @apply relative;
    @apply flex flex-col sm:flex-row;
    @apply w-full gap-1;

    grid-area: core; 
    min-width: 0;
    @apply min-h-[200px];
    @apply h-full;
  }
}