@import "./tabs";
@import "./activity";
@import "./editor";
@import "./drag-handles";
@import "./console";

@import "./editor-btns";
@import "./console-btns";

.editor-section {
  @apply grid gap-3;
  @apply relative w-full;
  --max-height: 100%;
  min-height: 300px;
  height: calc(var(--max-height)*0.6);
  max-height: calc(var(--max-height) - 50px);

  grid-template:
    "tabs activity" auto
    "core core" 2fr; 

  .core {
    @apply relative;
    @apply flex flex-col sm:flex-row;
    @apply w-full gap-1;

    grid-area: core; 
    min-width: 0;
    @apply h-full;
  }
}

@container (min-width: 700px) {
  .editor-section {
  grid-template:
    "tabs"
    "core"
    "activity";
  }
}